body {
    margin: 0;
    padding: 0;
    background-color: #333332;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.header-dashboard {
    width: 100%;
    height: 130px;
    background-color: #292928;
    border-radius: 30px;
    margin-top: 10px;
}

.hd-infoboard {
    width: 100%;
    margin: 10px;
    
}

#hd-title {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

#btn-hd-on_off_toggle {
    margin-top: 15px;
}

#range-hd-brightness {
    margin-top: 10px;
    margin-left: 10px;
}

#span-brightness {
    display: flex;
    margin-top: -23px;
    margin-left: 180px;
    font-weight: bold;
}

.scenes-manager {
    width: 100%;
    align-items: center;
    text-align: center;
}

select {
    outline: 0px;
}

#sm-select {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #292928;
    color: #fff;
    border: 10px #292928 solid;
    width: 300px;
    height: 48px;
    font-size: 20px;
    border-radius: 10px;
}
option {
}

input[type="range"] {
    background: none;
    -webkit-appearance: none;
}


/* Firefox */
input[type="range"]::-moz-range-track {
    background: #1f1f1e;
    height: 0.4rem;
}

input[type="range"]::-moz-range-progress {
    background: #85b8b7;
    height: 0.4rem;
    border-radius: 40px;
}

input[type="range"]::-moz-range-thumb {
    background-color: #018786;
    color: #018786;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

input[type="range"]::-moz-range-track {
    border-radius: 40px;
}

/* All other standard browsers */
input[type="range"]::-webkit-slider-runnable-track {
    background: #1f1f1e;
    height: 0.4rem;
    border-radius: 40px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-progress-value {
    color: #85b8b7;
    height: 0.4rem;
    border-radius: 40px;
    -webkit-appearance: none;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    color: #018786;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}


.cl-toggle-switch {
    position: relative;
}
   
   .cl-switch {
    position: relative;
    display: inline-block;
}
   /* Input */
   .cl-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}
   /* Track */
   .cl-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgb(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}
   /* Thumb */
   .cl-switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}
   /* Checked */
   .cl-switch > input:checked {
    right: -10px;
    background-color: #85b8b7;
}
   
   .cl-switch > input:checked + span::before {
    background-color: #85b8b7;
}
   
   .cl-switch > input:checked + span::after {
    background-color: #018786;
    transform: translateX(16px);
}
   /* Hover, Focus */
   .cl-switch:hover > input {
    opacity: 0.04;
}
   
   .cl-switch > input:focus {
    opacity: 0.12;
}
   
   .cl-switch:hover > input:focus {
    opacity: 0.16;
}
   /* Active */
   .cl-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}
   
   .cl-switch > input:active + span::before {
    background-color: #8f8f8f;
}
   
   .cl-switch > input:checked:active + span::before {
    background-color: #85b8b7;
}
   /* Disabled */
   .cl-switch > input:disabled {
    opacity: 0;
}
   
   .cl-switch > input:disabled + span::before {
    background-color: #ddd;
}
   
   .cl-switch > input:checked:disabled + span::before {
    background-color: #bfdbda;
}
   
   .cl-switch > input:checked:disabled + span::after {
    background-color: #61b5b4;
}
